@import url('https://fonts.googleapis.com/css?family=Baloo|Berkshire+Swash&subset=latin-ext');

$title-font: 'Baloo', cursive;
$title-font2: 'Berkshire Swash', cursive;
$bg-color: #0C154C;
$text-color: #fff;




@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}


body {
  background-color: $bg-color;
  margin: 0 auto;
  color: $text-color;



//animacijai:
  -webkit-animation-name: keiciaFonoSpalva;
          animation-name: keiciaFonoSpalva;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes keiciaFonoSpalva {
    0% {background-color: $bg-color;}
    50% {background-color: #0e2c7b;}
    100% {background-color: $bg-color;}

}

/* Standard syntax */
@keyframes keiciaFonoSpalva {
  0% {background-color: $bg-color;}
  50% {background-color: #0e2c7b;}
  100% {background-color: $bg-color;}
}


h1 {
  font-family: $title-font;
}

.title-dalis {
  font-family: $title-font2 !important;
}

.f-45 {
  font-size: 3.6em;
}

.navbar-miego {
  background-color: #00559A; //#095c95;
  z-index: 99;

    .navbar-brand {
      color: $text-color;
      font-family: $title-font;

      &:hover {
        color: $text-color;
      }
      &:focus {
        color: $text-color;
      }
    }

    .navbar-nav {


      .nav-link {
        color: $text-color;
        &:hover {
          color: $text-color;
          text-decoration: underline;

        }


        }

        .disabled {
          color: rgba(0,0,0,.3);
          &:hover {
            color: rgba(0,0,0,.3) !important;
            text-decoration: none;
          }

      }


      .active {
        color: $text-color !important;
        text-decoration: underline;
        .nav-link {
          color: $text-color;
        }
      }
    }


    .navbar-toggler-icon {
      border: 0px solid red;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}


#inputas {
  // margin-top: 100px;
  min-height: 300px;


  .pavadinimas {
    text-align: center;
    padding-top: 70px;
  }

  .forma {
    margin-top: 30px;

    h3 {
      font-size: 1.7em;
      font-weight: 300;
      margin-bottom: 15px;
    }

    input {
      z-index: 998;
      font-family: $title-font2;
      font-size: 2em;
      @include border-radius(9px);
      border: 0px;
      @include box-shadow(0px, 1px, 13px, rgba(0,0,0,.2));
      min-width: 250px;
      min-height: 64px;
      text-align: center;


      &:hover {
        @include box-shadow(0px, 0px, 25px, rgba(0,0,0,.4));
      }
    }


    button {
      z-index: 999;
      min-width: 200px;
      min-height: 64px;
      margin: 10px 0px 10px 10px;
      border: 1px solid rgba(255,255,255,.1);

      &:hover {
        border: 1px solid rgba(255,255,255,.2);
        @include box-shadow(0px, 0px, 25px, rgba(0,0,0,.4));
      }
      //animacijai:
        -webkit-animation-name: keiciaBtnSpalva;
                animation-name: keiciaBtnSpalva;
        -webkit-animation-duration: 10s;
                animation-duration: 10s;
        -webkit-animation-iteration-count:infinite;
                animation-iteration-count:infinite;
      }

      /* Safari 4.0 - 8.0 */
      @-webkit-keyframes keiciaBtnSpalva {
          0% {background-color: #18A2C4;}
          50% {background-color: #008E99;}
          100% {background-color: #18A2C4;}

      }

      /* Standard syntax */
      @keyframes keiciaBtnSpalva {
        0% {background-color: #18A2C4;}
        50% {background-color: #008E99;}
        100% {background-color: #18A2C4;}
      }

    }









} //baigiasi #inputas

// .zvaigzdetasDangus {
//   width: 100%;
//   height: 100%;
//   background-color: red;
// }


.zvaigzdutes-konteineris {
  position: absolute;
  // top: 100px;
  // right: 50px;
  height: 2px;
  width: 2px;
  background-color: #fff;


  -webkit-animation-name: zvaigzdute1;
          animation-name: zvaigzdute1;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;


/* Safari 4.0 - 8.0 */
@-webkit-keyframes zvaigzdute1 {
  0% {opacity: 0.1;}
  50% {opacity: .3;}
  100% {opacity: 0.1;}
}

/* Standard syntax */
@keyframes zvaigzdute1 {
  0% {opacity: 0.1;}
  50% {opacity: .3;}
  100% {opacity: 0.1;}
}



}

.zvaigzdute {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #fff;
  @include border-radius(50%);
  z-index: 2;

  // top:100px;
  // left: 100px;


  //animacijai:
    -webkit-animation-name: zvaigzdute;
            animation-name: zvaigzdute;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count:infinite;
            animation-iteration-count:infinite;


  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes zvaigzdute {
    0% {top:-10%;
    right: 0%;}

    50% {top:90%;
    right: 50%; opacity: 0;}

    100% {top:90%;
    right: 50%; opacity: 0;}
  }

  /* Standard syntax */
  @keyframes zvaigzdute {
    0% {top:-10%;
    right: 0%;}

    25% {top:90%;
    right: 50%; opacity: 0;}

    100% {top:90%;
    right: 50%; opacity: 0;}
  }

}
